* {
    margin: 0;
    padding: 0;
    /* disable double_tap zoom on mobile devices */
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    /* 禁用右键和选中 */
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /*不显示滚动条*/
    /* firefox */
    scrollbar-width: none;
    /* IE 10+ */
    -ms-overflow-style: none;
}
/*不显示滚动条*/
*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #CCDEAD;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", 'Roboto', sans-serif;
    font-size: 2em;
    color: white;
    overflow: hidden;
}
/*贴合滚动*/
main {
    scroll-snap-type: y mandatory;
    overflow-x:hidden;
    overflow-y: scroll;
    height: 100vh;
}
section {
    width: 100%;
    height: 100%;
    min-height: 640px;
    scroll-snap-align: start;
    overflow:hidden
}
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
.wrapper {
}
#footer{
    background-color: rgb(245,243,232);
}

/*第一页*/
#content {
    margin: 10vh auto;
    width: 80vw;
}
/*纳西妲踩键盘gif背景*/
#wrapper-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/nahida-1.gif");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    z-index: -50;
}
/*背景滤镜*/
#wrapper-background-filter {
    background-color: #CCDEADF5;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -20;
}
/*标题容器*/
#title-container {
    display: flex;
    justify-content: center;
}
/*标题*/
#page-title {
    text-align: left;
}
/*标题图*/
#title-img {
    height: 4em;
}
#page-descriptions{
    margin: 3vh auto;
}
/*计数器容器*/
#counter-container {
    text-align: center;
    font-weight: bold;
    margin: 64px 0;
}

#counter-container>p {
    text-shadow: #E8FFC3AD 0 0 10px, #E8FFC3AD 0 0 10px, #E8FFC3AD 0 0 10px, #E8FFC3AD 0 0 10px, #E8FFC3AD 0 0 10px;
}

/*本地计数器*/
#local-counter {
    color: #9AA38B1F;
    font-size: 5em;
}

/*踩*/
#counter-button {
    /*visibility: hidden;*/
    background: linear-gradient(#9AA38B70, #A7B79270);
    border-radius: 16px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 16px;
    border: solid 2px #50645070;
    outline: solid 2px #E6E6D270;

    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out, scale 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#counter-button:hover {
    background-color: #506450;
}
#counter-button:active {
    scale: 0.95;
}
#counter-button span {
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff50;

    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;

    animation: ripple 1s;
    opacity: 0;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}

/*第二页*/
.footer-container {
    margin: 23vh auto;
}
#nahida-card {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

#nahida-card:hover {
    transform: translate3d(-3.5px, -3.5px, 0px);
    transition: transform 0.3s ease;
}

.about-link {
    color: black !important;
}
@media screen and (max-width: 720px) {
    .footer-container {
        margin: 3vh auto;
    }
}